/* * {
  width: 90%;
  margin: 0 auto;
}
.App {
  text-align: center;
}

.chat-container > * {
}

.chat-container {
  justify-content: center;
  width: 60%;
  margin: 10% auto;
}

.register {
  text-align: center;
  margin: 10% auto;
}
.register input {
  width: 60%;
  margin-top: 20px;
}
.register button {
  margin-top: 20px;
  width: 60%;
}

.chat-send {
}

@media screen and (max-width: 800px) {
  .chat-container {
    width: 100%; // The width is 100%, when the viewport is 800px or smaller 
  }
} */

.screen50 {
  height: 50vh;
}
.screen66 {
  height: 66vh;
}
.screen75 {
  height: 75vh;
}

.mt5vh {
  margin-top: 5vh;
}
